* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E2E1E0;
}

.container-fluid {
    padding: 0px 30px;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    margin: 40px;
}

header {
    display: flex;
    align-items: center;
    min-height: 100px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header-social-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.header-social {
    width: 40px;
    height: 40px;
}

header .header__logotype {
    width: 250px;
    padding-left: 50px;
    text-align: left;
}

main {
    padding: 50px 0px;
}

.news-content {
    height: auto;
}


.news-content .news-content__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    height: 200px;
    color: #000;
    transition: box-shadow 0.25s ease;
    text-decoration: none;
    border: 1px dashed #000;
}

.news-content .news-content__button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
}

.new-games {
    margin-bottom: 50px;
}

.game-item-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.game-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.game-item-new {
    margin-right: 30px;
    margin-bottom: 40px;
}

.game-item__name {
    margin-bottom: 5px;
}

.game-item__description {
    font-size: 14px;
    margin-bottom: 10px;
}

.game-item__image {
    margin-bottom: 5px;
    width: 300px;
    height: 384px;
    object-fit: cover;
}

.game-item__language {
    margin-bottom: 10px;
    font-size: 14px;
}

.game-item__score,
.game-item__links {
    background-color: red;
    color: #fff;
    padding: 20px;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.game-item__trophy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
}

.game-item__links {
    cursor: pointer;
}

.game-item__links:hover {
    background-color: #fff;
    color: #000;
}

.games-row {
    justify-content: space-around;
}

.games-row .col-md-4 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.games-row .col-sm-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}




@media screen and (max-width: 992px) { 

    .news-content .news-content__button {
        height: 60px;
    }

    .news-content .news-content__button:hover {
        transform: scale(1);
    }

    .game-item-wrapper {
        justify-content: space-around;
    }

    .games__item-links {
        padding: 30px 0px;
    }

    .games__item-image {
        width: 200px;
        margin-bottom: 10px;
    }

    .games__item-genre {
        margin-bottom: 10px;
    }

    .games__item-userscore {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    header .header__logotype {
        display: block;
        padding-left: 0;
        margin: 0 auto;
        padding: 20px 0px;
    }

    .header-social-wrapper {
        margin-bottom: 20px;
    }
} */